.card-productos {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    width: 260px;
    height: 360px;
    box-shadow: 6px 3px 10px grey;
    border-radius: 10px;
    background-color: lightskyblue;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    img{
        height: 120px;
        width: 120px;
        padding-top: 3px;
        border-top-left-radius: 20%;
        border-bottom-right-radius: 20%;
    }
    .ver-mas{
        background-color: white;
        color: black;
        border-radius: 3px;
        padding: 5px;
    }
}

/* .columna-productos {
    padding: 1rem;
    background-color: var(--clr-main-light);
    display: flex;
    flex-direction: column;
    gap: .5rem;
} */