.lista{
    list-style: none;
    display: inline;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}

.izquierda{
    text-align: center;

    .ul{
        padding-left: 300px;
    }
}