/* card del item unico */

.contenedor-item {
    align-items: center;
    border-color: red;
    border-radius: 10px;
    border: 3px solid lightskyblue;
    width: 500px;
    height: 650px;
    text-align: center;
    margin-left: 0px;
    img{
        margin-top: 20px;
    }
} 


